@model Assignment.Models.ViewModels.AddInstructorVM

<h1>Add new Instructor</h1>
<form action="/Instructor/SaveAdd" method="post">
    <input name="Name" id="Name" value="@Model.Name" class="form form-control p-2 m-2" placeholder="Name"/>
    <input name="Image" id="Image" value="@Model.Image" class="form form-control p-2 m-2" placeholder="Image" />
    <input name="Salary" id="Salary" value="@Model.Salary" class="form form-control p-2 m-2" placeholder="Salary" />
    <input name="Address" id="Assress" value="@Model.Address" class="form form-control p-2 m-2" placeholder="Address" />

    <label class="p-2 m-2">Department</label>
    <select name="DepartmentId" id="DepartmentId" class="form form-control p-1 m-1" onchange="fetchCourses()">
        @foreach(Department department in Model.Departments)
        {
            <option value="@department.Id">@department.Name</option>
        }
    </select>

    <label class="p-2 m-2">Course</label>
    <select name="CourseId" id="CourseId" class="form form-control p-1 m-1">
        @foreach (Course course in Model.Courses)
        {
            <option value="@course.Id">@course.Name</option>
        }
    </select>

    <input type="submit" class="form form-control p-2 m-2" placeholder="Address" />

</form>

        <script>
            function fetchCourses(){
                var DID = $("#DepartmentId").val();
                var data = ``;
        $.ajax({
            url: "http://localhost:5239/instructor/GetCoursesOfDepartment?DID=" + DID,
            method: "GET", 
            dataType: "json",
            success: function (response) {
                
                console.log("Success:", response);
                for (var i in response) {
                    console.log(i);
                    data += `<option value="${ [i].id}" > ${response[i].name}</option>`;
                }

                $("#CourseId").html(data);
            },
            error: function (xhr, status, error) {
                console.log("Error:", xhr.responseText);
            }
        });

            }
        </script>