@model List<Instructor>
@{
    ViewData["Title"] = "GetView";
}



<div id="content">
    <div>
        <input id="key" type="text" class="form corm-control col-2 mx-3" 
        placeholder="Key"/>
        <button class="btn btn-primary" onclick="Search()">Hit</button>
    </div>
    <div id="instructors" class="container-fluid d-flex flex-wrap">
        @foreach (Instructor instructor in Model)
        {
            <div class="card my-4 mx-3" style="width: 21%">
                <img src="/images/@instructor.Image" class="card-img-top" alt="@instructor.Name">
                <div class="card-body">
                    <h3 class="card-title">Name: @instructor.Name</h3>
                    <h5 class="card-text">Address: @instructor.Address</h5>
                    <h5 class="card-text">Salary: @instructor.Salary</h5>
                    <br>

                    <div class="mt-auto">
                        <h5 class="card-text" style="color: teal">Department: @instructor.Department.Name</h5>
                        <h5 class="card-text" style="color: teal">Course: @instructor.Course.Name</h5>
                    </div>
                </div>
            </div>


        }
    </div>
    
</div>
   
    <script>
        
        document.getElementById("key").addEventListener("input", () => Search())
        function Search(){
            var key = $("#key").val();
            console.log(key);
            var data = "";

        $.ajax({
            url: "/instructor/search?Key=" + key,
            method: "GET",
            
            success: function (response) {
                console.log("Success:", response);
                //$("#partView").html(response);
                for (let instructor of response) {
                    data += `<div class="card my-4 mx-3" style="width: 21%">
                    <img src="/images/${instructor.image}" class="card-img-top" alt="${instructor.name}">
                    <div class="card-body">
                        <h3 class="card-title">Name: ${instructor.name}</h3>
                        <h5 class="card-text">Address: ${instructor.address}</h5>
                        <h5 class="card-text">Salary: ${instructor.salary}</h5>
                        <br>

                        <div class="mt-auto">
                            <h5 class="card-text" style="color: teal">Department: ${instructor.department}.Name</h5>
                            <h5 class="card-text" style="color: teal">Course: ${instructor.course}</h5>
                        </div>
                    </div>
                </div>`;
                }
                $("#instructors").html(data);
            },
            error: function (xhr, status, error) {
                console.log("Error:", xhr.responseText);
                console.log("Error:", error);
            }
        });
        }
    </script>
