@model Course

@{
    <h2>Name: @Model.Name</h2>
    
    <h1>Trainees took this course:</h1>
    foreach (CrsResult cr in Model.crsResults)
    {
        if (cr.Degree >= Model.MinDegree)
        {
            <h3 style="color: green">    @cr.Trainee.Name: @cr.Degree</h3>
        }
        else
        {
            <h3 style="color: orange">    @cr.Trainee.Name: @cr.Degree</h3>
        }
    }
}