@model Course

@{
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="mb-4">Course Results: @Model.Name</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Degree</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var cr in Model.crsResults)
                        {
                            if(cr.Degree >= cr.Course.MinDegree)
                            {
                                <tr style="color: green">
                                    <td>@cr.Trainee.Name</td>
                                    <td>@cr.Degree</td>
                                </tr>
                            }
                            else
                            {
                                <tr style="color: red">
                                    <td>@cr.Trainee.Name</td>
                                    <td>@cr.Degree</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}